:root{
  --color_1: rgb(255, 223, 222);
  --color1_with_opacity: rgba(255 223 222,0.4);
  --color_2: rgb(106 123 162);
  --color2_with_opacity: rgba(106 123 162,0.4)
  --transparent-black: rgba(0,0,0,0.2);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10em;
  padding-top: 5em;
  grid-auto-flow: row;
}
.list-grid{
  width:70%;
  margin:auto;
}
 .list-row{
  position: relative;
  border: 3px dotted black;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(1,1fr);
  grid-template-areas:
        "thumbnail list-content";
  gap: 0.5rem;
  background-color: var(--color_1);
} 
.list-row:hover{
  background-color: var(--color1_with_opacity);
}
#list-content{
  grid-area: list-content;
  margin:0;
  padding:0;
}
#title{
  margin-bottom: 0;
  padding:0;
}
#artist{
  padding:0;
}
#medium{
  padding:0;
}
.list-item{
  padding: 2em;
  text-align: left;
  margin-left:0;
}
li{
  list-style-type: none;
}
ul{
  list-style-type: none;
}

.galleryImage{
  width: 400px;
  height: 400px;
  display:block;
  padding: 1em;
}

.listImage{
  grid-area: thumbnail;
  width: 70px;
  height: 70px;
  padding: 1em;
  border-radius: 5em;
  vertical-align: middle;
}

.galleryImage:hover{
  /* transform: scale(1.2); */
  cursor: pointer;
  padding: 0em;
  border: 2px solid black;

}

header{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    font-size: 2em;
}

.chip {
  display: inline-block;
  margin-top: 2em;
  margin-left: 10em;
  height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  width: 80%;
  text-align: left;
  text-indent: 3%;
}

.navigation{
  align-items: center;
  margin-bottom: 5em;
  margin-left: 50%
}
.navigation > button{
  padding: 5px;
  margin-left: 15px;
}

.modal_container{
  
  margin: 5em;
  margin-right: 0;
  display: grid;
  grid-template-columns: 60% 40%;
  border: 2px solid black;
  grid-gap: 1em;
  width: 50%;
}

.detail_image{
  width: 400px;
  height: 400px;
  display:block;
  padding: 1em;
  grid-area: 1
}

.detail_content{
  text-align: left;
}
